
.vs/PortfolioTracker/FileContentIndex/53e64e10-513b-498f-84f7-2b4498f10fcf.vsidx
*.vsidx
.vs/PortfolioTracker/DesignTimeBuild/.dtbcache.v2
*.v2
*.v2
.vs/PortfolioTracker/v17/.futdcache.v2
*.pdb
*.2
*.dll
*.dll
obj/Debug/net7.0/ref/PortfolioTracker.dll
*.cache
*.props
*.dll
*.dll
*.dll
*.dll
*.json
*.dll.gz
*.suo
*.json
PortfolioTrackerServer/bin/Debug/net7.0/appsettings.json
*.json
*.json
PortfolioTrackerServer/appsettings.json
PortfolioTrackerServer/bin/Debug/net7.0/appsettings.json
