@page "/analyzer"
@using PortfolioTrackerClient.Components
@inject IAuthService AuthService

<h3>Analyzer</h3>

@if (PortfolioOwner.UserId != 0)
{
    <PortfolioPieChart PortfolioOwner="@PortfolioOwner" />
}

@code {

    private User PortfolioOwner { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        PortfolioOwner = await AuthService.GetPortfolioOwner();
    }

}
