@page "/modal"


<div>
    <p>@Message</p>

    <button class="btn btn-primary" @onclick="async() => await BlazoredModal.CloseAsync(ModalResult.Ok())">Yes</button>
    <button class="btn btn-danger" @onclick="async() => await BlazoredModal.CloseAsync(ModalResult.Cancel())">No</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public string? Message { get; set; }

}