@page "/portfolio"
@page "/home"

@using Microsoft.AspNetCore.Components.Authorization;
@inject IAuthService AuthService
@attribute [Authorize]

<CascadingAuthenticationState>
    <AuthorizeView>
        @*@TODO: Fix username not displayed properly*@*@
        <h3>Hi @GetUserFromDb(context). You're logged in with <i>@context.User.Identity.Name</i></h3>
    </AuthorizeView>
</CascadingAuthenticationState>

@using Microsoft.AspNetCore.Authorization;
@using PortfolioTrackerClient.Components
@using PortfolioTrackerClient.Services.AuthService;
@using PortfolioTrackerShared.Models.UserModels;

<h3>Portfolio</h3>

<PortfolioPieChart />


@code {

    /// <summary>
    /// Returns the user name associated with an authenticated user.
    /// </summary>
    /// <param name="authState"></param>
    /// <returns></returns>
    private async Task<string> GetUserFromDb(AuthenticationState authState)
    {
        var response = await AuthService.GetUserFromDb(authState.User.Identity.Name);
        return response.Data is not null ? response.Data.UserName : string.Empty;
    }

}
