@page "/portfolio"
@page "/home"

@using Microsoft.AspNetCore.Components.Authorization;
@inject IAuthService AuthService
@attribute [Authorize]

<CascadingAuthenticationState>
    <AuthorizeView>
        <h3>Hi @context.User.Identity.Name. You're logged in with <i>@context.User.Claims.ElementAt(2).Value</i></h3>
    </AuthorizeView>
</CascadingAuthenticationState>

@using Microsoft.AspNetCore.Authorization;
@using PortfolioTrackerClient.Components
@using PortfolioTrackerClient.Services.AuthService;
@using PortfolioTrackerShared.Models.UserModels;

<h3>Portfolio</h3>

<PortfolioPieChart />


@code {

}
