@page "/settings"

<h3>Settings</h3>


@*@* To DO
	- Contact data (email, password, adress, profile picture
	- change password
	- account data 
	- preferences (dark mode, color wheel)
	- investing goals (dividend milestones, portfolio value
	- portfolio export
*@*@@

@code {

}
