.flexbox[b-6xln6dm12x] {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.polygon[b-6xln6dm12x] {
    text-align: center;
    margin: 20px;
}

.result[b-6xln6dm12x] {
    margin: 16px auto 0 auto;
    border: 5px inset #013220;
    font-size: 20px;
    width: fit-content;
    padding: 20px;
}

.enter-ticker[b-6xln6dm12x] {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
}
