@using PortfolioTrackerClient.Pages;
@using PortfolioTrackerClient.Services.PortfolioService;
@using PortfolioTrackerShared.Models;
@using PortfolioTrackerShared.Other;
@using Blazored;
@using Blazored.Modal;
@using Blazored.Modal.Services;

@inject IPortfolioService PortfolioService
@inject IModalService ModalService

<div>
    <EditForm Model="@StockToUpdate" OnValidSubmit='async() => await UpdateStock(StockToUpdate)'>
        <DataAnnotationsValidator />

        <label for="stockTicker">Stock Ticker: </label>
        <InputText id="stockTicker" @bind-Value="StockToUpdate.Ticker" />
        <ValidationMessage For="() => StockToUpdate.Ticker" />
        <br /><br />

        <label for="sharesOwned">Shares Owned: </label>
        <InputNumber id="sharesOwned" @bind-Value="StockToUpdate.SharesOwned" min="0" />
        <ValidationMessage For="() => StockToUpdate.SharesOwned" />
        <br /><br />

        <label for="positionSize">Position Size ($): </label>
        <InputNumber id="positionSize" @bind-Value="StockToUpdate.PositionSize" min="0" />
        <ValidationMessage For="() => StockToUpdate.PositionSize" />
        <br /><br />

        <label for="buyinPrice">Buy In Price ($): </label>
        <InputNumber id="buyinPrice" @bind-Value="StockToUpdate.BuyInPrice" min="0" />
        <ValidationMessage For="() => StockToUpdate.BuyInPrice" />
        <br /><br />

        <label for="industry">Stock Industry: </label>
        <InputSelect id="industry" @bind-Value="StockToUpdate.Industry">
            @foreach (Industry industry in Enum.GetValues(typeof(Industry)))
            {
                <option>@GetDisplayValue(industry)</option>
            }
        </InputSelect>
        <br /><br />

        <label for="dividendYield">Dividend Yield % (optional): </label>
        <InputNumber id="dividendYield" @bind-Value="StockToUpdate.DividendYield" min="0" />
        <ValidationMessage For="() => StockToUpdate.DividendYield" />
        <br /><br />

        <button class="btn-primary" type="submit">Update</button>
        <button class="btn-danger" type="button" style="margin-left: 10px" @onclick="async() => await DeleteStock(StockToUpdate.Ticker)">Delete</button>
        <br /><br />
    </EditForm>
</div

@if (ShowResultMessage)
{
    <p>
        @UpdateResultMessage
    </p>
}


@code {

    [CascadingParameter] IModalService Modal { get; set; } = default!;

    private PortfolioStock _stockToUpdate;

    [Parameter]
    public PortfolioStock StockToUpdate
    {
        get => _stockToUpdate is not null ? _stockToUpdate : new PortfolioStock();

        set => _stockToUpdate = value;
    }

    private string UpdateResultMessage { get; set; } = string.Empty;

    private bool _showResultMessage;

    public bool ShowResultMessage
    {
        get => _showResultMessage;
        set
        {
            if (_showResultMessage != value)
            {
                _showResultMessage = value;
                StateHasChanged();
            }
        }
    }


    private async Task UpdateStock(PortfolioStock stock)
    {
        var response = await PortfolioService.UpdateStock(stock);
        UpdateResultMessage = response.Success ? "Update successful" : "Update failed";
        await DisplayResultMessage();
    }

    private async Task<bool> ConfirmDelete()
    {
        return await ShowModal() ? true : false;
    }

    private async Task DeleteStock(string ticker)
    {
        if(await ConfirmDelete())
        {
            UpdateResultMessage = await PortfolioService.DeleteStock(ticker)
            ? $" Deleted {StockToUpdate.Ticker}" : "Deletion failed.";
            await DisplayResultMessage();
            StockToUpdate = new PortfolioStock();
        }
    }

    private async Task DisplayResultMessage()
    {
        // Display result message.
        ShowResultMessage = true;

        // Display it for 2 seconds.
        await Task.Delay(2000);

        // Hide message.
        ShowResultMessage = false;
    }

    private static string GetDisplayValue(Industry value)
    {
        var field = value.GetType().GetField(value.ToString());
        var attribute = (EnumDisplayText)Attribute.GetCustomAttribute(field, typeof(EnumDisplayText));
        return attribute != null ? attribute.Text : value.ToString();
    }

    private async Task<bool> ShowModal()
    {
        var parameters = new ModalParameters()
            .Add(nameof(ConfirmAction.Message), $"Delete {StockToUpdate.Ticker}?");

        var confirmDeleteModal = Modal.Show<ConfirmAction>("Confirm Action", parameters);
        var result = await confirmDeleteModal.Result;
        return result.Confirmed;
    }
}

